<div class="mapboxDrawControls">
  <button mat-icon-button (click)="startDrawing()">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="deleteSelected()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomIn()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomOut()">
    <mat-icon>remove</mat-icon>
  </button>
  <label class="mapboxDrawControls__extrude">Extrude Height:</label>
  <input class="mapboxDrawControls__input" type="number" [(ngModel)]="extrudeHeight" placeholder="Extrude Height">
  <button mat-icon-button (click)="passExtrudeHeight()">
    <mat-icon>remove</mat-icon>
  </button>
</div>